/* NAVBAR FONDO */
.navbar {
    background-color: #f0dee2 !important;
}

/* TEXTO LOGO */
.navbar-brand {
    color: #0b0a33 !important;
    font-weight: 800;
}

/* LINKS */
.nav-link {
    color: #0b0a33 !important;
}

/* HOVER */
.nav-link:hover {
    color: #000000 !important;
}

/* LINK ACTIVO */
.nav-link.active {
    font-weight: 700;
}

/* DROPDOWN */
.dropdown-menu {
    background-color: #f0dee2;
}

/* ITEMS DROPDOWN */
.dropdown-item {
    color: #0b0a33;
}

.dropdown-item:hover {
    background-color: #e8cfd5;
}